*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/topography.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

header {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 70px;
    background-color: teal;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;    
}

.nav-area li a {
    color: fff;
}

.nav-area li a:hover {
   color: white;
}

.main-content h1 {
    margin-top: 70px;
    margin-left: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-content p {
    margin-top: 100px;
    text-align: center;
}